/* 
 * Adiutor: A gadget to assist various user actions
 * Author: Vikipolimer
 * Licencing and attribution: Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
 */
 .adiutor-user-dashboard-container {
	padding: 65px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ac/Illustration_of_Reading_Wikipedia_in_the_Classroom_%28blue%29_03.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 10%) 30%;
	background-size: 35%;
}

.adiutor-user-dashboard-stats-container {
	width: 55%;
	display: flex !important;
	margin-top: 35px;
}

.adiutor-user-dashboard-adiutor-total-stats {
	float: left;
	width: inherit;
	background-color: #3367cc !important;
	border: none !important;
	color: white;
}

.adiutor-user-dashboard-adiutor-total-stats .oo-ui-iconElement-icon {
	filter: invert(2);
}

.adiutor-user-dashboard-adiutor-csd-stats {
	float: left;
	width: inherit;
	margin: 0px !important;
	border: none !important;
	;
}

.adiutor-user-dashboard-adiutor-afd-stats {
	float: right;
	margin: 0px !important;
	width: inherit;
	border: none !important;
	;
}

.adiutor-user-dashboard-main-x {
	height: -webkit-fill-available;
}

span.adiutor-user-dashboard-top-logo {
	width: 201px;
	display: inline-grid;
	text-align-last: left;
}

span.adiutor-user-dashboard-bottom-about-button {
	width: 201px;
	display: inline-grid;
	text-align-last: left;
}

label.adiutor-user-dashboard-contribution-count {
	display: block;
	font-size: 16px;
	line-height: 36px;
	font-weight: 100;
	margin-bottom: 10px;
}

label.adiutor-user-dashboard-welcome-text {
	font-size: 34px;
	margin-right: 14px;
	font-weight: 300;
}

label.adiutor-user-dashboard-welcome-username {
	font-size: 34px;
	font-weight: 700;
	color: #3366cc;
}

.adiutor-user-dashboard-adiutor-description {
	width: 55%;
	margin-top: 50px;
	font-size: 17px;
	text-align: justify;
}

.adiutor-user-dashboard-adiutor-description .oo-ui-labelElement-label {
	font-weight: 300;
}

label.adiutor-user-dashboard-logo {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Adiutor_logo.svg');
	width: 200px;
	height: 100px;
	background-size: 133px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
}

.adiutor-administrator-helper-csd-requests-butons {
	float: right;
}

.adiutor-administrator-helper-article-content {
	margin-top: 70px !important;
}

.adiutor-administrator-helper-csd-article-content {
	padding: 0 !important;
}

.adiutor-administrator-helper-csd--toolbar {
	height: 33px;
	padding: 10px;
	background: #ffffff;
	border-bottom: 1px solid #c8ccd0;
	position: fixed;
	width: -webkit-fill-available;
	text-align: right;
}

.adiutor-administrator-helper-csd--content-area {
	margin-top: 60px;
	padding: 50px;
}

.adiutor-administrator-helper-csd-toolbar-page-name {
	float: left;
	padding: 10px;
	font-weight: 900;
	font-size: 14px;
}

.afd-helper-button-group {
	float: right;
	font-size: 12px;
}

.afd-helper-comment-textarea textarea {
	height: 80px;
}

.afd-helper-notification {
	position: fixed;
	top: 90px;
	right: 70px;
	width: 215px;
	font-size: 12px;
	padding: 20px !important;
}

.afd-opinion-select-btn-group {
	display: flex !important;
	flex-wrap: wrap !important;
	width: 100%;
	padding: 0;
	margin: 0;
}

.afd-opinion-select-btn {
	flex-grow: 1;
	display: grid !important;
	font-size: 12px;
}

.afd-result-select-btn-group {
	display: flex !important;
	flex-wrap: wrap !important;
	width: 100%;
	padding: 0;
	margin: 0;
}

.afd-result-select-btn {
	flex-grow: 1;
	display: grid !important;
	font-size: 12px;
}

.xfd-closed .afd-helper-button-group {
	display: none;
}

#Bakım_bağlantıları .afd-helper-button-group {
	display: none;
}

.adiutor-top-selector {
	margin-top: 2px;
}

.adiutor-csd-modal-container {
	display: flex;
	position: inherit;
}

.adiutor-csd-modal-container .one {
	width: 50%;
	float: left;
}

.adiutor-csd-modal-container .two {
	width: 50%;
	float: right;
	padding-left: 25px;
}

.cov-url-list-item {
	padding: 10px;
	background: #ffffff;
	list-style: none;
	margin-bottom: 5px;
	border: 1px solid #dadada;
}

.cov-url-list-item a {
	color: black;
}

ul.cov-url-list {
	padding: 0;
	margin: 0;
}

.cov-url-list-item-vio-high {
	border: 1px solid #de3333;
	background: white;
	color: red;
}

.cov-url-list-item-vio-high a {
	font-weight: 900;
	color: #de3333;
}

.adiutor-top-settings-menu {
	border-top: 1px solid #cecece;
}

.adiutor-top-user-menu {
	border-bottom: 1px solid #cecece;
}

.adiutor-user-status {
	position: relative;
	font-size: 14px;
	float: right;
	color: #04af89;
	font-family: system-ui;
	text-align: right;
	font-weight: 700;
}

.adiutor-user-status-active {
	position: relative;
	width: 75px;
	font-size: 14px;
	float: right;
	color: #04af89;
	font-family: system-ui;
	text-align: right;
	font-weight: 700;
}

.adiutor-user-status-active:before {
	content: '';
	width: 26px;
	height: 24px;
	position: absolute;
	top: 9px;
	left: 6px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/aa/OOjs_UI_icon_userTalk-ltr-constructive.svg);
	background-repeat: no-repeat;
	background-size: 18px;
}

.adiutor-user-status-passive {
	position: relative;
	width: 110px;
	font-size: 14px;
	float: right;
	color: #04af89;
	font-family: system-ui;
	text-align: right;
	font-weight: 700;
}

.adiutor-user-status-passive:before {
	content: '';
	width: 26px;
	height: 24px;
	position: absolute;
	top: 9px;
	left: 6px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b6/OOjs_UI_icon_userTalk-ltr.svg);
	background-repeat: no-repeat;
	background-size: 18px;
}

.adiutor-user-status-away {
	position: relative;
	width: 85px;
	font-size: 14px;
	float: right;
	color: #d9ab21;
	font-family: system-ui;
	text-align: right;
	font-weight: 700;
}

.adiutor-user-status-away:before {
	content: '';
	width: 26px;
	height: 24px;
	position: absolute;
	top: 9px;
	left: 6px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b6/OOjs_UI_icon_userTalk-ltr.svg);
	background-repeat: no-repeat;
	background-size: 18px;
}

.adiutor-user-status-selector {
	display: inline;
	float: right;
	width: 98px;
	font-size: 12px;
	font-family: sans-serif;
}

.adiutor-top-rrd-menu {
	border-bottom: 1px solid #cecece;
}

.adiutor-mentor-response-preview-area {
	margin-top: 15px;
	border: 1px solid #a2a9b1;
	padding: 10px;
}

.adiutor-rpp-botton-select {
	margin-top: 10px;
}

.adiutor-top-user-menu-end {
	border-bottom: 1px solid #a2a9b1;
}

.adiutor-tag-list-container {
	max-height: 350px;
	overflow: scroll;
}

.adiutor-csd-modal-dialog-notification {
	position: absolute;
	top: 60px;
	right: 100px;
	z-index: 999;
}

.articles-worked-on-popup .oo-ui-popupWidget-head {
	box-sizing: border-box;
	border-bottom: 1px solid #c8ccd1;
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 2.5595238em;
}

.articles-worked-on-popup>.oo-ui-popupWidget-popup>.oo-ui-popupWidget-footer {
	width: 100%;
	margin: 0;
	border-top: 1px solid #c8ccd1;
}

.articles-worked-on-popup-footer-buttons {
	display: flex;
	margin: 0;
	justify-content: space-between;
}

.articles-worked-on-popup-footer-button {
	flex: 1;
	margin: 0;
	display: grid;
	height: 50px;
	border: none;
}

.articles-worked-on-popup-footer-button .oo-ui-buttonElement-button {
	padding: 14px !important;
	font-size: inherit;
	font-weight: bold;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.adiutor-work-list-item:hover {
	background: #ececec !important;
}

.adiutor-work-list-item {
	margin: 0px !important;
	cursor: pointer;
	padding-left: 10px !important;
	border: none !important;
	background: #f8f9fa !important;
	border-top: 1px solid #a2a9b1 !important;
}

.articles-worked-on-popup-search-box input {
	height: 50px;
	border: none !important;
	padding-left: 10px !important;
}

.adiutor-aricle-detail-box {
	margin-top: -0.7px;
	padding: 10px !important;
	display: list-item;
	height: 50px;
	padding-top: 15px !important;
	font-size: 12px;
	background-color: #f7f8f9 !important;
	border-color: #a2a9b1 !important;
}

span.adiutor-aricle-detail-box-button-group {
	right: 45px;
	display: revert;
	position: absolute;
	top: 8px;
}

.articles-worked-on-popup-search-box-enmpy {
	display: flex;
	padding: 5px;
	padding-bottom: 15px;
	font-weight: initial;
	padding-top: 20px;
	padding-right: 15px;
}

.articles-worked-on-popup-search-box-enmpy-image .oo-ui-iconElement-icon {
	display: none !important;
}

.articles-worked-on-popup-search-box-enmpy-image .oo-ui-labelElement-label {
	padding: 10px;
	margin: 0;
	padding-top: 0;
}

.adiutor-page-more-info-tip-author {
	border: none !important;
	margin: 0 !important;
}

.adiutor-page-more-info-tip-date {
	border: none !important;
	margin: 0 !important;
}

.adiutor-page-more-info-tip-keyword {
	border: none !important;
	margin: 0 !important;
	border-top: 1px solid #a2a9b1 !important;
}

.adiutor-user-page-container {
	margin-top: 20px;
	display: initial;
	position: inherit;
}

.adiutor-user-page-box-container {
	width: 99.80%;
	display: flex !important;
	margin: 0;
	background: #f8f9fa;
	border: 1px solid #d1d1d1;
	height: 90px;
}

.adiutor-user-page-username-details {
	float: left;
	width: inherit;
	background-color: #f8f9fa !important;
	border: none !important;
	color: #000;
	display: grid;
	padding-left: 54px !important;
}

.adiutor-user-page-username-details .oo-ui-iconElement-icon {
	filter: invert(2);
}

.adiutor-user-page-change-count {
	float: left;
	width: inherit;
	margin: 0px !important;
	border: none !important;
	background-color: #ffffff00 !important;
	border-left: 1px solid #d1d1d1 !important;
}

.adiutor-user-page-miscellaneous {
	float: right;
	margin: 0px !important;
	width: inherit;
	border: none !important;
	;
}

span.adiutor-user-page-button-group {
	display: inherit;
	position: relative;
	margin-top: 28px !important;
	margin-right: 18px !important;
}

.adiutor-user-page-username-details .oo-ui-iconElement-icon {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/OOjs_UI_icon_userAvatarOutline-progressive.svg/1920px-OOjs_UI_icon_userAvatarOutline-progressive.svg.png);
	background-position: center !important;
	width: 50px;
	height: 50px;
	filter: unset;
	display: block;
	float: left;
	background-size: 50px;
	margin-top: 18px;
	margin-left: 16px;
}

h2.adiutor-help-content-heading-sub {
	font-size: 16px;
	font-weight: 900;
	color: #3367cc;
}

span.adiutor-aricle-show-video-button {
	position: absolute;
	z-index: 99;
	right: 23px;
	top: 30px;
}

.adiutor-dashboard-administrator-tools-csd-welcome {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/48/Adiutor-dashboard-csd.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	text-align: center;
	background-position-y: 65%;
}

.adiutor-dashboard-administrator-tools-csd-welcome-messsage {
	width: 50%;
	margin: 50px;
	display: inline-flex;
	margin-bottom: 30px;
}

.adiutor-dashboard-administrator-tools-csd-welcome-messsage .oo-ui-labelElement-label {
	margin: 0;
}

.adiutor-dashboard-administrator-tools-csd-show-button {
	display: inherit;
}
.adiutor-dashboard-administrator-tools-csd-welcome-messsage span {
    margin: 0 !important;
}